
:root {
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #282828;

    --text-primary-color: #000000;
    --text-secondary-color: #7D7D7D;
    --text-placeholder-color: #ABABAB;
}
