

.header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 92px;

    box-sizing: border-box;
    padding: 32px 42px;

    background: var(--background-primary-color);
}
